@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
    background-color: #70CF51;
    font-family: 'Press Start 2P';
    overflow:hidden;
    margin:0px; padding:0px;
    background-image: url('../images/sky.jpg');
    background-size: cover;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}


spaceship {
    width: 150px; height: 100px;
	background-image: url('../images/spaceship.png');
    background-size: cover;
    background-position: center;
}

enemy {
    width: 100px; height: 80px;
    background-image: url('../images/enemy1.png');
    background-size: cover;
    background-position: center;
}

enemy2 {
    width: 100px; height: 80px;
    background-image: url('../images/aircrafts/Aircraft_03.png');
    background-size: cover;
    background-position: center;
}

enemy3 {
    width: 100px; height: 80px;
    background-image: url('../images/Aircraft_02.png');
    background-size: cover;
    background-position: center;
}

bullet {
    width: 10px; height: 30px;
    background-image: url('../images/bullet.png');
    background-size: cover;
    background-position: center;
}

start {
    font-family: 'Press Start 2P', cursive;
    font-size: 48px;
    color: white;
    position: absolute;
    top: 400px; 
    left: 43%;
}

guide {
    font-family: 'Press Start 2P', cursive;
    font-size: 32px;
    color: white;
    position: absolute;
    top: 500px; 
    left: 25%;
}


score {
    font-family: 'Press Start 2P', cursive;
    font-size: 48px;
    color: white;
}

gameover {
    font-size: 48px;
    position: absolute;
    left: 20%;
    top: 100px;
    color: white;
}
